name: Build

on:
  push:
    branches:
      - master
      - Dev

jobs:
   build:  
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
     #- name: keeper
     #   Token > env:token
     #   secet config : ${{ secrets.K_config }}
      - name: checkout code
        uses: actions/checkout@v4
        with:
         fetch-depth: 0
       #env:
         #SONAR_TOKEN: ${{ env.token }}
         #SOMETHING: ${{ secrets.SOMETHING }}
