name: Build

on:
  push:
    branches:
      - master
      - Dev

jobs:
   build:
     name: Build and analyze
     uses: Practice-org04651/common-repo/.github/workflows/sonar-build.yml@sonar-cqa
     secrets:
       CONFIG: ${{ secrets.CONFIG }}
       SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
       SONAR_ROOT_CERT: ${{ secrets.SONAR_ROOT_CERT }}
